@font-face {
  font-family: __bttf_99f1fd;
  src: url(../media/4e546a48ec347c59-s.p.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: __bttf_Fallback_99f1fd;
  src: local("Arial");
  ascent-override: 54.29%;
  descent-override: 12.71%;
  line-gap-override: 1.96%;
  size-adjust: 166.75%;
}
.__className_99f1fd {
  font-family: __bttf_99f1fd, __bttf_Fallback_99f1fd;
}
.__variable_99f1fd {
  --font-bttf: "__bttf_99f1fd", "__bttf_Fallback_99f1fd";
}
